@include respond(desktop) {
    .header__outer {
        position: relative;
        min-height: 9rem;
    }

    .header {
        &__row {
            @include grid(1fr auto 1fr, null, 3rem);
            align-items: center;
        }

        &__menu-button {
            display: none;
        }
    }
}


.header {
    position: relative;
    flex: 0 0 auto;
    z-index: 90;
    transition: opacity 0.3s linear;
    color: #00234B;
    background-color: $white;

    &--sticky {
        position: fixed !important;
    }

    &--init {
        @include position(absolute, 0, 0, null, 0);
    }

    &__row {
        position: relative;
        padding: 0 5rem;
        min-height: 9rem;
        color: $white;
        transition: box-shadow 0.3s linear;
        background-color: $blue-main;
        box-shadow: 0 1px 6px rgba(20, 58, 102, 0.23);

        &--no-top-decor {
            padding-top: 0.3rem;
        }
    }

    &__col {

        &-left,
        &-center,
        &-right,
        &-right-wrap {
            @include flex(null, center, null, null);
        }

        &-center {
            justify-content: center;
        }

        &-right {
            justify-content: flex-end;

            &-wrap {
                position: relative;
                @include text(2.1rem, null, null, 0);
                margin: -1.5rem;
                white-space: nowrap;
            }
        }
    }

    &__logo {
        padding: 1rem 0;
        line-height: 1;
        width: 15rem;
        position: relative;
    }

    &__search-button,
    &__auth-button,
    &__wishlist-button {
        position: relative;
    }

    &__button-link {
        position: relative;
        padding: 1.5rem;
        transition: $hover-transition;
        cursor: pointer;

        svg {
            @include text(2.4rem, null, $white, 1);
        }

        :hover {
            color: #5b85c3;
        }
    }

    .count-info {
        @include position(absolute, 10px, 2px, null, null);
        padding: 0 4px;
        text-align: center;
        opacity: 1;
        z-index: 1;

        span {
            border-radius: 50%;
            height: 16px;
            min-width: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            letter-spacing: 0.015em;
            background-color: $white;
            @include text(1.2rem, bold, $blue-main, 1.6rem);
        }

    }
}

@include respond(tablet) {
    .header__outer {
        position: relative;
        height: 6rem;
    }


    .header {
        &__row {
            min-height: 6rem;
            display: flex;
        }

        &__col {

            &-center,
            &-right-wrap {
                display: none;
            }

            &-left {
                width: 100%;
                @include flex(space-between, center, null, null);
                flex-wrap: nowrap;
            }
        }

        &__menu-button {
            &:active {
                @include button-active()
            }

            svg {
                flex: 0 0 auto;
                width: 4rem;
                height: 4rem;
            }
        }

    }
}

.header--init {
    &::after {
        @include position(absolute, 100%, null, null, 0);
        @include box(100%, 0.3rem);
        content: '';
        display: block;
        background-image: var(--header-decor);
        background-repeat: repeat-x;
    }
}

.header--decor-bottom {
    @include box(100%, 3px);
    @include position(absolute, 100%, null, null, 0);
    background-repeat: repeat-x;
    overflow: hidden;

}