.payment-success {
    @include box(100%, 100vh);

    h1 {
        @include flex(null, center, null, null);

        svg {
            font-size: 2rem;
            margin: 0 0.2rem
        }
    }

    &__img {
        @include box(100%, 100%);
        @include flex(center, center, column, null);

        img {
            object-fit: cover;
            @include box(35rem, 35rem);
        }
    }

    &__button {
        @include respond (mobile) {
            margin-top: 1rem;

        }

        margin-top: 2rem;
    }
}